<!DOCTYPE html>
<html lang="es">
    <head>
        <title>{{ site.name }}: {{ page.title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
              integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/group.css">
    </head>
    <body>
        <div class="container">
            <div class="header d-flex flex-column flex-md-row justify-content-md-between align-items-md-end">
                <a href="{{ site.baseurl }}/" class="mb-2 mb-md-0">
                    <img src="{{ site.baseurl }}/img/logo-cevi-2@2x.png" alt="CEVI Logo" id="logo">
                </a>
                <div class="d-flex flex-column flex-md-row align-items-md-end mt-3 mt-md-0">
                    <!-- Menú de navegación sin ul/li para evitar warnings -->
                    <div class="nav nav-pills" role="list">
                        {%- assign shorturl = page.url | replace:'.html','' | replace:'index','' -%}
                        {%- for item in site.navigation -%}
                            {%- assign itemshorturl = item.link | replace:'.html','' -%}
                            {%- assign maybe-active = '' -%}
                            {%- if item.title == 'Research' and page.layout == 'project' -%}
                                {%- assign maybe-active = 'active' -%}
                            {%- endif -%}
                            {%- if itemshorturl == shorturl or is-research -%}
                                {%- assign maybe-active = 'active' -%}
                            {%- endif -%}
                            <div class="nav-item" role="listitem">
                                <a class="nav-link {{ maybe-active }}" href="{{ site.baseurl }}{{ item.link }}">
                                    {{ item.title }}
                                </a>
                            </div>
                        {%- endfor -%}
                    </div>
                    <!-- Selector de idioma personalizado -->
                    <div id="google_translate_element" class="google-translate-hidden"></div>
                    <div class="custom-language-selector ml-md-3 mt-2 mt-md-0" onclick="triggerGoogleTranslate()">
                        <i class="fa fa-language"></i> <span id="selected-lang">Idioma</span> <i class="fa fa-chevron-down"></i>
                    </div>
                </div>
            </div>

            {% if page.image %}
                <img src="{{ page.image }}" alt="{{ page.title }}" class="img-fluid mx-auto d-block mb-4 page-image">
            {% endif %}

            {% if page.notitle != true %}
                <h1>{{ page.title }}</h1>
            {% endif %}

            {{ content }}

            <div class="footer">
                <p>
                    <a href="https://www.uji.es/">Universitat Jaume I</a>
                </p>
            </div>
        </div> <!-- /container -->

        <script type="text/javascript" src="{{ site.baseurl }}/js/srcset-polyfill.js"></script>

        <!-- Scripts de Google Translate (con URL https explícita) -->
        <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({
                    pageLanguage: 'es',
                    includedLanguages: 'en,es',
                    layout: google.translate.TranslateElement.InlineLayout.SIMPLE
                }, 'google_translate_element');
            }

            function triggerGoogleTranslate() {
                var select = document.querySelector('.goog-te-gadget-simple .goog-te-menu-value span');
                if (select) {
                    select.click();
                } else {
                    var frame = document.querySelector('.goog-te-menu-frame');
                    if (frame) {
                        frame.style.visibility = 'visible';
                    }
                }
            }

            function updateLanguageDisplay() {
                var select = document.querySelector('.goog-te-combo');
                if (select) {
                    var selectedText = select.options[select.selectedIndex]?.text || 'Idioma';
                    document.getElementById('selected-lang').innerText = selectedText;
                }
            }
            setInterval(updateLanguageDisplay, 1000);
        </script>
        <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    </body>
</html>