<!DOCTYPE html>
<html lang="es">
    <head>
        <title>{{ site.name }}: {{ page.title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
              integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/group.css">
    </head>
    <body>
        <div class="container">
            <div class="header d-flex flex-column flex-md-row justify-content-md-between align-items-md-end">
                <a href="{{ site.baseurl }}/" class="mb-2 mb-md-0">
                    <img src="{{ site.baseurl }}/img/logo-cevi-2@2x.png" alt="CEVI Logo" id="logo">
                </a>
                <div class="nav nav-pills" role="list">
                    {%- assign shorturl = page.url | replace:'.html','' | replace:'index','' -%}
                    {%- for item in site.navigation -%}
                        {%- assign itemshorturl = item.link | replace:'.html','' -%}
                        {%- assign maybe-active = '' -%}
                        {%- if item.title == 'Research' and page.layout == 'project' -%}
                            {%- assign maybe-active = 'active' -%}
                        {%- endif -%}
                        {%- if itemshorturl == shorturl or is-research -%}
                            {%- assign maybe-active = 'active' -%}
                        {%- endif -%}
                        <div class="nav-item" role="listitem">
                            <a class="nav-link {{ maybe-active }}" href="{{ site.baseurl }}{{ item.link }}">
                                {{ item.title }}
                            </a>
                        </div>
                    {%- endfor -%}
                </div>
            </div>

            {% if page.image %}
                <img src="{{ page.image }}" alt="{{ page.title }}" class="img-fluid mx-auto d-block mb-4 page-image">
            {% endif %}

            {% if page.notitle != true %}
                <h1>{{ page.title }}</h1>
            {% endif %}

            {{ content }}

            <div class="footer">
                <p>
                    <a href="https://www.uji.es/">Universitat Jaume I</a> |
                    <a href="https://www.uji.es/ciencies/">Departamento de Ciencias de la Computación</a>
                </p>
            </div>
        </div> <!-- /container -->

        <script type="text/javascript" src="{{ site.baseurl }}/js/srcset-polyfill.js"></script>
    </body>
</html>